<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retail.retailapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".ShoppingListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".MainNavigation"
            android:label="Retail Checker"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FetchSavedListActivity"
            android:label="@string/title_activity_fetch_saved_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>